<div class=" container pt-4">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-secondary" type="button">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                    <h5 class="card-title d-flex align-items-center">Announcements</h5>
                    <div class="media mb-3 d-flex alert alert-info d-flex">
                        <div>
                            <img src=".\assets\image.jpg"
                                class="mx-auto rounded-circle " alt="Friend's Photo" width="55">
                        </div>
                        <div class="media-body p-2 ">
                            <h6 class="">TA</h6>
                            <p>Just wanted to say hello!</p>
                        </div>
                    </div>
                    <!-- <div *ngFor="let notification of notifications" class="alert alert-info d-flex align-items-center">
                        <div><i class="bi bi-dash-circle text-danger fs-4"></i></div>
                        <div class=" text-center p-2">
                            <strong>{{getNotificationSender(notification.sender_role)}}: {{notification.title}}</strong>
                            <span>{{notification.content}}</span>
                        </div>
                    </div> -->
                    <!-- <div class="alert alert-danger" *ngIf="messageNotification != ''">{{messageNotification}}</div> -->

                </div>
            </div>
        </div>
    </div>
</div>