<!DOCTYPE html>
<html style="overflow-x: hidden;">

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href=''>
  <script src=''></script>
</head>

<body class="p-0 m-0 " style="background-color: #f8f9fa;">
  <section class="section-wrapper align-items-center ">
    <div class=" container-fluied">
      <div class="row  justify-content-center">
        <div class="col-md-8 me-0 h-10">
          <img src="./assets/Grads_1.jpg" alt="Login Image" class="img-fluid w-100 " style="height:100%">
        </div>
        <div class="col-md-4 mt-5">
          <div class="login-form p-4 justify-content-center">
            <h2 class="text-center">Login</h2>
            <p class="text-center alert alert-danger" *ngIf="msg != ''">{{msg}}</p>

            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class=" mt-5">
                <label for="Email" class="form-label">Email:</label>
                <input formControlName="email" type="text" class="form-control" id="email" name="email" email required>
              </div>
              <div class="mt-4">
                <label for="password" class="form-label">Password:</label>
                <input formControlName="password" type="password" class="form-control" id="password" name="password"
                  required>
              </div>
              <div class="d-grid mt-5">
                <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Login</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>