<div class="container pt-3">
  <h2>Idea Requests</h2>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item mb-3 " *ngFor="let idea of ideas">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <a href="#" (click)="openIdea($event, idea)" class=" text-decoration-none text-black cursor-pointer">{{ idea.title }}</a>
            </div>
            <div>
              <button class="btn btn-primary btn-sm me-2" (click)="acceptIdea(idea)">Accept</button>
              <button class="btn btn-secondary btn-sm" (click)="rejectIdea(idea)">Reject</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Idea Details Modal -->
<div class="modal fade" id="ideaDetailsModal" tabindex="-1" role="dialog" aria-labelledby="ideaDetailsModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ideaDetailsModalLabel">{{ selectedIdea.title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{ selectedIdea.description }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
