<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Add Communities</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="form-group">

          <h3 for="num-communities">Generate Communities:</h3>
          <label for="num-communities">add department:</label>
          <select class="form-select" name="department" [(ngModel)]="departmentName" required>
            <option *ngFor="let department of departments" [value]="department">{{ department }}</option>
          </select>
          <!-- <input type="text" class="form-control" [(ngModel)]="departmentName"> -->
        </div>
        <button type="button" class="btn btn-primary mt-3" (click)="generateCommunities()">Generate</button>
      </form>



    </div>
  </div>
  <div class="row" *ngFor="let community of communities">
    <div class="col-md-12">
      <h2>Communities</h2>
    </div>
    <div class="col-md-4 mb-3" *ngFor="let block of community.blocks; let i = index">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Community {{i+1}}</h4>
        </div>
        <div class="card-body">
          <div *ngFor="let doctor of block.doctors; let j = index" class="form-group">
            <label for="doctor-name-{{community.index}}-{{i}}-{{j}}">Doctor {{j+1}}:</label>
            <input type="text" class="form-control" id="doctor-name-{{community.index}}-{{i}}-{{j}}"
              [(ngModel)]="doctor.name">
          </div>
          <div class="form-group">
            <label for="block-place-{{community.index}}-{{i}}">Place:</label>
            <input type="text" class="form-control" id="block-place-{{community.index}}-{{i}}"
              [(ngModel)]="block.place">
          </div>
          <div class="card-body">
            <button class="btn btn-primary mt-3" (click)="saveData()">Save</button>
            <button class="btn btn-primary mt-3 mx-4">Cancel</button>
          </div>
        </div>
      </div>
      
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <button class="btn btn-primary mt-3" (click)="addBlock(community)">Add community</button>
        </div>
      </div>
    </div>
  </div>
</div>