<div class="container p-3">
  <div class="row">
    <div class="col-md-4">
      <!-- Card 1: User Information -->
      <div class="card h-100">
        <div class="card-body">
          <div class="text-center">
            <img src="./assets/team.jpg" class="rounded-circle mb-3" alt="User Image" width="150">
          </div>

          <h5 class="card-title">TeamName: Team {{team?.team_id}}</h5>
          <p class="card-text">Leader: {{team?.members.leader}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <!-- Card 2: Team Members and Departments -->
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Team Members</h5>
          <div class="d-flex flex-wrap">
            <div class="card mb-3 me-3 col-12">

              <div class="row g-0" *ngFor="let member of members">
                <div class="col-md-2">
                  <img src="./assets/team.jpg" class="card-img rounded-circle" alt="Member 1 Image" width="10px">
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h6 class="card-title p-4">{{member}}</h6>
                  </div>
                </div>
              </div>

            </div>
            <!-- Add more team member cards here -->
          </div>
          <h5 class="card-title mt-3">Departments</h5>
          <div class="row">

            <div class="col-md-4" *ngFor="let department of departments">
              <div class="card mb-3">
                <div class="card-body">
                  <p class="card-text">Department {{department}}</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>